<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @rss_test.url %>
</p>

<p>
  <b>Title:</b>
  <%= @rss_test.title %>
</p>

<p>
  <b>Author:</b>
  <%= @rss_test.author %>
</p>

<p>
  <b>Status:</b>
  <%= @rss_test.status %>
</p>


<p>
  <% if can? :update, @rss_test %>
    <%= link_to "Edit", edit_rss_test_path(@rss_test) %> |
  <% end %>
  <% if can? :delete, @rss_test %>
    <%= link_to "Destroy", @rss_test, :method => :delete, :confirm => "Are you sure?" %> |
  <% end %>
  <%= link_to "Back to rss_tests", rss_tests_path %>



</p>






